CP_BIND=127.0.0.1
CP_PORT=8787
CP_AMI_HOST=127.0.0.1
CP_AMI_PORT=5038
CP_AMI_USERNAME=conecte-push
CP_AMI_SECRET=SUBSTITUIR_POR_SEGREDO_ALEATORIO
CP_DEVICE_STORE=/var/lib/conecte-push/devices.json
CP_LOG_LEVEL=INFO
GOOGLE_APPLICATION_CREDENTIALS=/etc/conecte-push/firebase-service-account.json
CP_APNS_KEY_FILE=/etc/conecte-push/AuthKey_APNS.p8
CP_APNS_KEY_ID=SUBSTITUIR_KEY_ID
CP_APNS_TEAM_ID=SUBSTITUIR_TEAM_ID
CP_APNS_BUNDLE_ID=br.com.conectemax.phone
CP_APNS_SANDBOX=false
